@model yackeenTask.Models.Articls

@{
    ViewBag.Title = "Article";
}


<article class="entry">

    <header class="entry-header">

        <h2 class="entry-title">
            @Html.DisplayFor(model => model.subject)
        </h2>

        <div class="entry-meta">
            <ul>
                <li>@Html.DisplayFor(model => model.articleDate)</li>
               
            </ul>
        </div>

    </header>

    <div class="entry-content-media">
        <div class="post-thumb">
            @*<img src="images/m-farmerboy.jpg">*@
        </div>
    </div>

    <div class="entry-content">
        <p class="lead">@Html.DisplayFor(model => model.articleDetails)</p>

    </div>

    

</article>

<!-- Comments
================================================== -->
<div id="comments">

    <h3> Comments</h3>

    <!-- commentlist -->
    <ol class="commentlist">

    @foreach (var item in Model.VisitorComments)
    {
        <li class="depth-1">

            <div class="avatar">
                <img width="50" height="50" class="avatar" src="~/Content/user-03.png" alt="">
            </div>

            <div class="comment-content">

                <div class="comment-info">
                    <cite>@item.visitorName</cite>

                    <div class="comment-meta">
                        <time class="comment-time" datetime="2014-07-12T23:05">@item.commentDate</time>
                    </div>
                </div>

                <div class="comment-text">
                    <p>
                       @item.comment
                    </p>
                </div>

            </div>

        </li>
    }
        
    

    </ol> <!-- Commentlist End -->
    <!-- respond -->
    <div class="respond">

        <h3>Leave a Comment</h3>

        <!-- form -->
       

        @using (Html.BeginForm())
        {        
            <fieldset>

                <div class="group">
                    <label for="cName">Name <span class="required">*</span></label>
                    <input name="cName" type="text" id="cName" size="35" value="" required/>
                    <input name="cid" type="text" id="cName" size="35" value="@Model.Id"  style="display:none"/>
                </div>

                <div class="message group">
                    <label for="cMessage">Message <span class="required">*</span></label>
                    <textarea name="cMessage" id="cMessage" rows="10" cols="50" required></textarea>
                </div>

                <button type="submit" class="submit">Submit</button>

            </fieldset>
            }
      

    </div> <!-- Respond End -->

</div>  <!-- Comments End -->		
